@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade - Reffuge</h1>

<p>A sua privacidade é importante para nós. Esta Política de Privacidade descreve como coletamos, usamos, protegemos e compartilhamos suas informações pessoais no aplicativo Reffuge. Ao usar o Reffuge, você concorda com os termos descritos a seguir.</p>
<h3>Coleta de Informações</h3>
<h3>Coletamos os seguintes tipos de informações:</h3>

<p>
    Informações pessoais: nome, endereço de e-mail, data de nascimento, gênero e outras informações fornecidas voluntariamente durante o cadastro ou uso do aplicativo.
    Informações de saúde: dados que você opta por registrar em nosso diário emocional, resultados de testes de saúde mental, consultas realizadas com psicólogos e outras informações sobre seu bem-estar mental.
    Informações de uso: como você utiliza o aplicativo, incluindo padrões de navegação, preferências de recursos e interações com o conteúdo.
</p>
<h3>Uso das Informações</h3>
<h3>As informações coletadas são usadas para:</h3>
<p>
    Fornecer e melhorar a experiência do usuário no Reffuge;
Personalizar os conteúdos e recomendações com base no seu perfil emocional e comportamental;
Facilitar consultas e comunicação com profissionais de saúde mental;
Monitorar e analisar tendências de uso para aprimorar o aplicativo;
Garantir a segurança dos dados e prevenir atividades fraudulentas.
</p>
<h3>Compartilhamento de Informações</h3>
<h3>Suas informações pessoais e de saúde são mantidas confidenciais e seguras. No entanto, podemos compartilhar dados nas seguintes circunstâncias:</h3>
<p>
    Com profissionais de saúde: quando você opta por realizar consultas através do aplicativo, seus dados podem ser compartilhados com psicólogos para oferecer serviços personalizados.
Com terceiros autorizados: prestadores de serviços que auxiliam na operação do aplicativo, como armazenamento de dados e manutenção de sistemas, desde que sigam rigorosos padrões de segurança.
Por exigência legal: em conformidade com a legislação, poderemos divulgar dados se solicitados por autoridades competentes para cumprimento de obrigações legais.
</p>
<h3>Armazenamento e Proteção de Dados</h3>
<p>Implementamos medidas de segurança técnica e organizacional para proteger seus dados contra acessos não autorizados, perda ou destruição. Suas informações são armazenadas em servidores seguros e criptografadas quando necessário. No entanto, nenhum método de transmissão de dados é completamente seguro, e não podemos garantir total proteção.
</p>
<h3>Direitos do Usuário</h3>
<h3>Você tem o direito de:</h3>
<p>Acessar, corrigir ou excluir suas informações pessoais a qualquer momento, por meio das configurações do aplicativo ou entrando em contato com nossa equipe de suporte;
Solicitar a portabilidade de seus dados para outro serviço, se assim desejar;
Revogar seu consentimento para o uso de dados pessoais, o que pode limitar o uso de alguns recursos do aplicativo.</p>

<h3>Cookies e Tecnologias Semelhantes</h3>
<p>O Reffuge utiliza cookies e tecnologias semelhantes para melhorar a sua experiência de navegação. Os cookies permitem que reconheçamos o usuário e personalizemos a interface conforme suas preferências. Você pode optar por desativar os cookies nas configurações do seu navegador, mas isso pode afetar o funcionamento de algumas funcionalidades do aplicativo.
</p>

<h3>Alterações nesta Política de Privacidade</h3>
<p>O Reffuge se reserva o direito de modificar esta Política de Privacidade a qualquer momento. Notificaremos você sobre alterações substanciais por meio de avisos no aplicativo ou pelo e-mail cadastrado. É recomendável revisar esta política periodicamente para manter-se informado.</p>

<h3>Contato</h3>
<p>Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, entre em contato conosco por meio do formulário de Fale Conosco disponível no aplicativo ou pelo e-mail reffugemental@gmail.com.</p>

<p>Última atualização: 18/10/2024.</p>
