@model ReffugeMVC.Models.TermometroEmocional

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Termômetro Emocional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TermometroEmocionalId" />
            <div class="form-group">
                <label asp-for="TipoEmocaoId" class="control-label">Emoção</label>
                <select asp-for="TipoEmocaoId" class="form-control" asp-items="ViewBag.TipoEmocaoId"></select>
                <span asp-validation-for="TipoEmocaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label">Data</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-segundo" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
