@model ReffugeMVC.Models.TipoExercicios

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo Exercicíos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipoExercicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoExercicios)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoExerciciosId" class="btn btn-segundo">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>
