@model ReffugeMVC.Models.Conteudo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Conteúdo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeConteudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoConteudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoConteudo.NomeTipoConteudo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConteudoId" class="btn btn-segundo">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>
