@model ReffugeMVC.Models.TipoSentimentoSono

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Tipo Sentimento do Sono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipoSentimentoSonoId" />
            <div class="form-group">
                <label asp-for="NomeTipoSentimentoSono" class="control-label">Sentimento do Sono</label>
                <input asp-for="NomeTipoSentimentoSono" class="form-control" />
                <span asp-validation-for="NomeTipoSentimentoSono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-segundo" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
